* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none !important;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  width: 100%;
  min-height: 100vh;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: hsl(197, 97%, 47%);
  color: hsl(0, 0%, 100%);
}

header > h1 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 3rem;
}

header > ul {
  display: flex;
  flex-direction: column;
}

header > ul:first-of-type {
  margin-bottom: 3rem;
}

header > ul > li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

header svg {
  display: block;
  margin-right: .5rem;
}

header a {
  font-weight: 700;
}

/* Main */
main {
  display: grid;
  grid-template-rows: min-content min-content auto;
}
/* div-input-search */
#div-input-search {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1rem 2rem;
  gap: 6rem;
}

#div-input-search > form {
  display: flex;
  align-items: center;
}

#div-input-search > form > svg {
  display: block;
  margin-right: .5rem;
}

#div-input-search > form > input {
  width: 75%;
  padding: .25rem 1rem;
  border-radius: 500px;
  background-color: hsl(205, 23%, 85%);
  border: none;
}

#div-input-search > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

#img-penguin-pfp {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

#div-main-intro {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#div-main-intro > div {
  display: grid;
  grid-template-columns: auto auto;
}

#div-main-intro > div > img {
  margin-right: 1rem;
}

#img-penguin {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#div-main-intro > div > div > span {
  display: block;
  margin-bottom: .25rem;
}

#div-main-intro > div > div > h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

#nav-buttons {
  display: flex;
  align-items: center;
}

#nav-buttons > li {
  width: 100px;
  padding: .5rem;
  margin-left: 2rem;
  background-color: hsl(197, 97%, 47%);
  color: hsl(0, 0%, 100%);
  border-radius: 500px;
  text-align: center;
}

.article {
  padding: 2rem 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: hsl(205, 23%, 85%);
}

.projects-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.projects-wrapper > h3 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.projects-wrapper > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 200px);
  gap: 1rem;
}
.project-card {
  display: flex;
  flex-direction: column;
}

.project-card > ul {
  align-items: end;
  margin: auto 0 0 0;
}

.project-card {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

.project-card::after {
  width: 8px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(39, 100%, 50%);
}

.project-card > h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.svg-favorite, .svg-eye-shown, .svg-fork {
  width: 24px;
  height: 24px;
}

.article > aside:first-of-type {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.article > aside:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.div-list-wrapper {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
}

.div-list-wrapper > ul > li {
  margin-bottom: 1.5rem;
}

.div-list-wrapper > ul > li:last-of-type {
  margin-bottom: 0;
}

.div-list-wrapper > ul > li > h4 {
  font-size: 1.15rem;
  font-weight: 700;
}

aside > h3 {
  margin-bottom: 1rem;
}

#div-trending > ul > li {
  display: flex;
  align-items: center;
}

#div-trending > ul > li > svg {
  display: block;
  margin-right: .5rem;
}
